.contacts {
    margin: 60px 0;
    &__item {
        font-size: 1.4rem;
        line-height: 49.66px;
        font-weight: 300;
        color: #fff;
        @media screen and (max-width: 1024px) {
            font-size: 1rem;
            line-height: 35.47px;
        }
        @media screen and (max-width: 768px) {
            font-size: 0.88rem;
            line-height: 31.21px;
        }
    }
    @media screen and (max-width: 1024px) {
        margin: 50px 0;
    }
    @media screen and (max-width: 768px) {
        margin: 40px 0;
    }
}