.link {
    @include link-background;
    @include link-font;
    display: block;
    transition: all .5s;
    &:hover {
        background-color: #FFA60D;
        border: 2px solid #FFA60D;
        color: $color-first;
        transform: scale(1.1);
    }
    &--white {
        border-color: $color-first;
        color: $color-first;
        &:active {
            border: 2px solid $color-second;
            background-color: transparent;
            color: $color-second;
        }
    }
    @media screen and (max-width: 1024px) {
        width: 248px;
        height: 48px;
        font-size: 0.68rem;
        line-height: 48px;
    }
}