.logo {
    font-size: 2rem;
    line-height: 62.65px;
    text-transform: uppercase;
    color: $color-first;
    @media screen and (max-width: 1024px) {
        font-size: 1.4rem;
        line-height: 43.86px;
    }
}