.menu {
    &__item {
        font-size: 0.88rem;
        color: $color-first;
        vertical-align: middle;
        line-height: 62.65px;
        transition: all 0.5s;
        &:not(:last-child)::after {
            content: "";
            display: inline-block;
            width: 1.5px;
            height: 16px;
            background-color: #D8D5D5;
            margin: 0 25px;
            vertical-align: middle;
        }
        &:hover {
            color: #FFAC1C;
        }
        @media screen and (max-width: 1024px) {
            font-size: 0.72rem;
            line-height: 43.86px;
        }
        @media screen and (max-width: 395px) {
            font-size: 0.56rem;
        }
    }
}