.media__item {
  display: inline-block;
  font-size: 1.2rem;
  line-height: 50px;
  width: 50px;
  height: 50px;
  color: #262626;
  border: 1px solid #FFF;
  border-radius: 50%;
  background-color: #FFF;
  transition: all 0.5s;
}
.media__item:not(:last-child) {
  margin-right: 40px;
}
.media__item:hover {
  transform: scale(1.1);
}

.about-us {
  background-color: #F3F7EA;
}
.about-us__text {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 40.74px;
  margin: 0 auto;
  max-width: 941px;
}
@media screen and (max-width: 1024px) {
  .about-us__text {
    max-width: 602px;
    font-size: 0.88rem;
    line-height: 29.88px;
  }
}
@media screen and (max-width: 768px) {
  .about-us__text {
    max-width: 541px;
    font-size: 0.8rem;
    line-height: 27.16px;
  }
}
@media screen and (max-width: 560px) {
  .about-us__text {
    max-width: 461px;
    font-size: 0.72rem;
    line-height: 21.3px;
  }
}

.banner {
  padding: 218px 0 185px;
}
@media screen and (max-width: 1024px) {
  .banner {
    padding: 183px 0 153px;
  }
}
@media screen and (max-width: 768px) {
  .banner {
    padding: 171px 0 99px;
  }
}
.banner__title {
  font-size: 3.5rem;
  line-height: 103.43px;
  text-transform: uppercase;
  max-width: 914px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .banner__title {
    font-size: 2.4rem;
    line-height: 73.01px;
  }
}
@media screen and (max-width: 768px) {
  .banner__title {
    font-size: 2rem;
    line-height: 57.65px;
    max-width: 329px;
  }
}
.banner__text {
  line-height: 31.33px;
  margin: 35px 0 60px;
}
@media screen and (max-width: 1024px) {
  .banner__text {
    font-size: 0.72rem;
    line-height: 22.55px;
    margin: 35px 0 63px;
  }
}
@media screen and (max-width: 768px) {
  .banner__text {
    margin: 35px 0 66px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 25px;
}

body {
  font-family: "Source Serif 4", serif;
  text-align: center;
}

.wrapper {
  max-width: 1872px;
  margin: 0 auto;
  font-size: 0;
}

p {
  font-size: 1rem;
  line-height: 31.33;
  font-weight: 400;
}

a {
  text-decoration: none;
}

section,
footer {
  padding: 100px 0;
}

@media screen and (max-width: 1872px) {
  .wrapper {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media screen and (max-width: 1024px) {
  section,
  footer {
    padding: 80px 0;
  }
}
@media screen and (max-width: 768px) {
  section,
  footer {
    padding: 70px 0;
  }
}
.beginning {
  background-image: url("../img/banner.png");
  background-size: cover;
  color: #fff;
}

.button-up {
  display: inline-block;
  font-size: 1.12rem;
  line-height: 70px;
  color: #fff;
  width: 70px;
  height: 70px;
  border: 1px solid #FFAC1C;
  background-color: #FFAC1C;
  border-radius: 50%;
  position: fixed;
  bottom: 19px;
  right: 20px;
  transition: all 0.5s;
}
.button-up:hover {
  transform: scale(1.1);
  background-color: #FFF;
  color: #FFAC1C;
}

.link {
  border: 2px solid #000;
  color: #000;
  border-radius: 30px;
  width: 312px;
  height: 60px;
  margin: 0 auto;
  line-height: 60px;
  font-size: 0.8rem;
  font-weight: 600;
  display: block;
  transition: all 0.5s;
}
.link:hover {
  background-color: #FFA60D;
  border: 2px solid #FFA60D;
  color: #FFF;
  transform: scale(1.1);
}
.link--white {
  border-color: #FFF;
  color: #FFF;
}
.link--white:active {
  border: 2px solid #000;
  background-color: transparent;
  color: #000;
}
@media screen and (max-width: 1024px) {
  .link {
    width: 248px;
    height: 48px;
    font-size: 0.68rem;
    line-height: 48px;
  }
}

.chef {
  background-color: #F3F7EA;
}
.chef__img {
  width: 100%;
  max-width: 398px;
  margin-bottom: 30px;
}
@media screen and (max-width: 1024px) {
  .chef__img {
    max-width: 282px;
  }
}
@media screen and (max-width: 768px) {
  .chef__img {
    max-width: 251px;
    margin-bottom: 20px;
  }
}
.chef__text {
  line-height: 31.33px;
  font-weight: 300;
  color: #474747;
  margin: 30px 0;
}
@media screen and (max-width: 1024px) {
  .chef__text {
    font-size: 0.88rem;
    line-height: 27.57px;
  }
}
@media screen and (max-width: 768px) {
  .chef__text {
    font-size: 0.8rem;
    line-height: 25.06px;
    margin: 20px 0;
  }
}
.chef__description {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 40.74px;
  margin: 0 auto;
  max-width: 939px;
}
@media screen and (max-width: 1024px) {
  .chef__description {
    max-width: 691px;
    font-size: 0.88rem;
    line-height: 30.21px;
  }
}
@media screen and (max-width: 768px) {
  .chef__description {
    max-width: 626px;
    font-size: 0.8rem;
    line-height: 27.46px;
  }
}

.contacts {
  margin: 60px 0;
}
.contacts__item {
  font-size: 1.4rem;
  line-height: 49.66px;
  font-weight: 300;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .contacts__item {
    font-size: 1rem;
    line-height: 35.47px;
  }
}
@media screen and (max-width: 768px) {
  .contacts__item {
    font-size: 0.88rem;
    line-height: 31.21px;
  }
}
@media screen and (max-width: 1024px) {
  .contacts {
    margin: 50px 0;
  }
}
@media screen and (max-width: 768px) {
  .contacts {
    margin: 40px 0;
  }
}

.dish {
  text-align: left;
  position: relative;
  width: calc((100% - 96px) / 3);
  max-width: 360px;
}
.dish:not(:last-child) {
  margin-right: 48px;
}
.dish__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.dish__description {
  margin-top: 35px;
}
.dish__title {
  font-size: 1.2rem;
  line-height: 37.59px;
  font-weight: 400;
}
.dish__text {
  font-size: 0.72rem;
  line-height: 22.55px;
  font-weight: 300;
  color: #474747;
  margin: 15px 0;
}
.dish__price {
  font-size: 0.72rem;
  line-height: 22.55px;
  font-weight: 700;
}
.dish:first-of-type::before {
  width: 58px;
  height: 58px;
  line-height: 58px;
  border-radius: 50%;
  position: absolute;
  top: -29px;
  left: -29px;
  text-align: center;
  font-size: 0.56rem;
  font-weight: 600;
  background-color: #D33B3B;
  color: #fff;
  content: "HOT!";
}
.dish:nth-of-type(2)::before {
  width: 58px;
  height: 58px;
  line-height: 58px;
  border-radius: 50%;
  position: absolute;
  top: -29px;
  left: -29px;
  text-align: center;
  font-size: 0.56rem;
  font-weight: 600;
  background-color: #B3E151;
  color: #fff;
  content: "NEW!";
}
.dish:last-of-type::before {
  width: 58px;
  height: 58px;
  line-height: 58px;
  border-radius: 50%;
  position: absolute;
  top: -29px;
  left: -29px;
  text-align: center;
  font-size: 0.56rem;
  font-weight: 600;
  background-color: #E5A434;
  color: #fff;
  content: "HIT!";
}

@media screen and (max-width: 1024px) {
  .dish {
    max-width: 252px;
    width: calc((100% - 184px) / 3);
  }
  .dish:not(:last-of-type) {
    margin-right: 92px;
  }
  .dish:first-of-type::before {
    width: 46px;
    height: 46px;
    line-height: 46px;
    top: -23px;
    left: -23px;
    font-size: 0.48rem;
  }
  .dish:nth-of-type(2)::before {
    width: 46px;
    height: 46px;
    line-height: 46px;
    top: -23px;
    left: -23px;
    font-size: 0.48rem;
  }
  .dish:last-of-type::before {
    width: 46px;
    height: 46px;
    line-height: 46px;
    top: -23px;
    left: -23px;
    font-size: 0.48rem;
  }
  .dish__description {
    margin-top: 15px;
  }
  .dish__title {
    font-size: 1rem;
    line-height: 31.33px;
  }
  .dish__text {
    font-size: 0.6rem;
    line-height: 18.8px;
    margin: 15px 0 17px;
  }
  .dish__price {
    font-size: 0.6rem;
    line-height: 18.8px;
  }
}
@media screen and (max-width: 768px) {
  .dish {
    max-width: 692px;
    width: 100%;
    display: flex;
  }
  .dish:not(:last-of-type) {
    margin-right: 0px;
    margin-bottom: 58px;
  }
  .dish:first-of-type::before {
    width: 56px;
    height: 56px;
    line-height: 56px;
    top: -28px;
    left: -28px;
    font-size: 0.56rem;
  }
  .dish:nth-of-type(2)::before {
    width: 56px;
    height: 56px;
    line-height: 56px;
    top: -28px;
    left: -28px;
    font-size: 0.56rem;
  }
  .dish:last-of-type::before {
    width: 56px;
    height: 56px;
    line-height: 56px;
    top: -28px;
    left: -28px;
    font-size: 0.56rem;
  }
  .dish__img {
    width: 320px;
  }
  .dish__description {
    text-align: left;
    max-width: 348px;
    padding-top: 17px;
    margin: 0 0 0 24px;
  }
  .dish__text {
    font-size: 0.8rem;
    line-height: 25.06px;
    margin: 20px 0;
  }
  .dish__price {
    font-size: 0.8rem;
    line-height: 25.06px;
  }
}
@media screen and (max-width: 670px) {
  .dish {
    max-width: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .dish:not(:last-of-type) {
    margin-bottom: 48px;
  }
  .dish__img {
    width: 300px;
  }
  .dish__description {
    max-width: 300px;
    padding: 0;
    margin: 15px 0 0;
  }
  .dish__title {
    font-size: 1rem;
    line-height: 31.33px;
  }
  .dish__text {
    font-size: 0.8rem;
    line-height: 25.06px;
    margin: 20px 0;
  }
  .dish__price {
    font-size: 0.8rem;
    line-height: 25.06px;
  }
}
.dishes {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

@media screen and (max-width: 1248px) {
  .dishes {
    margin-left: 16px;
  }
}
@media screen and (max-width: 1024px) {
  .dishes {
    margin-bottom: 45px;
  }
}
@media screen and (max-width: 768px) {
  .dishes {
    flex-direction: column;
    align-items: center;
  }
}
.footer {
  background-color: #262626;
}
.footer__title {
  font-size: 2.6rem;
  line-height: 81.45px;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .footer__title {
    font-size: 2rem;
    line-height: 62.65px;
  }
}
@media screen and (max-width: 768px) {
  .footer__title {
    font-size: 1.6rem;
    line-height: 50.1px;
  }
}
.footer__text {
  line-height: 31.33px;
  font-weight: 300;
  color: #B1B1B1;
  margin-bottom: 60px;
}
@media screen and (max-width: 1024px) {
  .footer__text {
    font-size: 0.8rem;
    line-height: 25.06px;
    margin-bottom: 47px;
  }
}
@media screen and (max-width: 768px) {
  .footer__text {
    font-size: 0.72rem;
    line-height: 22.55px;
    margin-bottom: 35px;
  }
}

.header {
  background-color: rgba(0, 0, 0, 0.42);
  display: flex;
  justify-content: center;
}
.header__container {
  padding: 44px 359px 45px 372px;
  display: flex;
  justify-content: space-between;
  width: 1872px;
}
@media screen and (max-width: 1440px) {
  .header__container {
    padding: 44px 118px 45px 132px;
  }
}
@media screen and (max-width: 1024px) {
  .header__container {
    padding: 13px 31px 13px 42px;
  }
}
@media screen and (max-width: 768px) {
  .header__container {
    padding: 8px 24px 8px 13px;
  }
}
@media screen and (max-width: 530px) {
  .header__container {
    flex-direction: column;
  }
}

.logo {
  font-size: 2rem;
  line-height: 62.65px;
  text-transform: uppercase;
  color: #FFF;
}
@media screen and (max-width: 1024px) {
  .logo {
    font-size: 1.4rem;
    line-height: 43.86px;
  }
}

.mb-item {
  width: 50%;
  padding: 12px;
}
.mb-item__img {
  width: 100%;
  max-width: 924px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1024px) {
  .mb-item {
    padding: 5px;
  }
}
@media screen and (max-width: 768px) {
  .mb-item {
    padding: 6px;
  }
}

.menu__item {
  font-size: 0.88rem;
  color: #FFF;
  vertical-align: middle;
  line-height: 62.65px;
  transition: all 0.5s;
}
.menu__item:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 1.5px;
  height: 16px;
  background-color: #D8D5D5;
  margin: 0 25px;
  vertical-align: middle;
}
.menu__item:hover {
  color: #FFAC1C;
}
@media screen and (max-width: 1024px) {
  .menu__item {
    font-size: 0.72rem;
    line-height: 43.86px;
  }
}
@media screen and (max-width: 395px) {
  .menu__item {
    font-size: 0.56rem;
  }
}

.moodboard-items {
  display: flex;
  flex-wrap: wrap;
}

.moodboard {
  padding-bottom: 0;
}

.secondary-title {
  font-size: 1.6rem;
  line-height: 50.12px;
  font-weight: 600;
}
@media screen and (max-width: 1024px) {
  .secondary-title {
    font-size: 1.4rem;
    line-height: 43.86px;
  }
}
@media screen and (max-width: 768px) {
  .secondary-title {
    font-size: 1.2rem;
    line-height: 37.59px;
  }
}

.selected-dishes__text {
  line-height: 31.33px;
  font-weight: 300;
  color: #474747;
  margin: 30px 0 60px;
}

@media screen and (max-width: 1024px) {
  .selected-dishes__text {
    font-size: 0.88rem;
    line-height: 27.57px;
    margin: 30px 0 48px;
  }
}
@media screen and (max-width: 768px) {
  .selected-dishes__text {
    font-size: 0.8rem;
    line-height: 25.06px;
    margin: 20px 0 58px;
  }
}/*# sourceMappingURL=style.css.map */